/* FONTS */

@font-face {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  src: url('./assets/fonts/Epilogue-Regular.woff2') format('woff2'),
    url('./assets/fonts/Epilogue-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  src: url('./assets/fonts/Epilogue-Bold.woff2') format('woff2'),
    url('./assets/fonts/Epilogue-Bold.woff') format('woff');
}

/* CSS CUSTOM PROPERTIES */

:root {
  /* Colors */
  --clr-primary-100: hsl(30, 29%, 97%);
  --clr-primary-300: hsl(30, 33%, 93%);
  --clr-primary-500: hsl(218, 20%, 36%);
  --clr-primary-800: hsl(219, 43%, 16%);

  --clr-accent-500: hsl(31, 100%, 65%);
  --clr-accent-600: hsl(292, 76%, 54%);
  --clr-accent-700: hsl(264, 100%, 69%);

  /* Font Sizes */
  --fs-sm: 0.9375rem; /* footer text */
  --fs-base: 1rem; /* sm heading */
  --fs-md: 1.125rem; /* body text  , md heading */
  --fs-lg: 1.25rem; /* quote text */
  --fs-xlg: 3rem; /* lg heading */
  --fs-xxlg: 4.5rem; /* xl heading */
}

/* RESET */

/* BODY/GLOBAL */

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: var(--fs-md);
  color: var(--clr-primary-500);
}
